<% provide( :title, 'Sign in' ) %>

<section>
	<h1>Sign in</h1>

	<%= form_tag sessions_path do %>

		<%= label_tag :email %>
		<%= text_field_tag :email, '', id: "emailPrime" %>
		<br>
		<%= label_tag :password %>
		<%= password_field_tag :password, '', id: "passwordPrime" %>
		<br>
		<%= submit_tag 'Sign In', id:"signinPrime" %>
		<%= link_to "Forgot?", request_reset_sessions_path %></p>
	<% end %>

</section>