<% provide( :title, 'Change Password' ) %>

<section>
	<h1>Change Password</h1>

	<%= form_tag update_password_user_path(@user), method: 'patch' do %>

		<%= render( 'shared/error_messages', object: @user ) unless @user.nil? %>

		<% if @is_password_reset %>
			<%= hidden_field_tag :token, @token %>
		<% else %>
			<%= label_tag :old_password %>
			<%= password_field_tag :old_password %>
			<br>
		<% end %>

		<%= label_tag :new_password %>
		<%= password_field_tag :new_password %>
		<br>

		<%= label_tag :repeat_new_password %>
		<%= password_field_tag :repeat_new_password %>
		<br>
		<%= submit_tag "Change Password" %>
		
	<% end %>
</section>