<% provide( :title, 'User Profile' ) %>

<section>

	<h1><%= current_user?(@user) ? "Your Profile" : "User Profile" %></h1>
	<div class="row-fluid">

		<section class="span8 text-center">
			<%= render 'shared/recent_trees', trees: @user.trees, n: 4 %>
			<%= link_to "Create a new Tree", new_tree_path, class:"btn btn-primary" %>
		</section>


		<section class="span4 well" id="infoBox">
			<h2>
				Account Info
				<%= link_to "edit", edit_user_path( @user ), class:"editLink" %>
			</h2>
			<table class="table">
				<tr>
					<td>Username</td>
					<td><%= @user.username %></td>
				</tr>
				<tr>
					<td>Name</td>
					<td><%= @user.full_name %></td>
				</tr>
				<tr>
					<td>Account Created</td>
					<td><%= as_date( @user.created_at ) %></td>
				</tr>
			</table>
		</section>

	</div>
	
</section>