<% provide( :title, 'Contact' ) %>

<section>
	<h1>Contact</h1>

	<%= form_for @message, url: contact_path, 
				 html: { class:"span8 ctr" } do |f| %>
		<%= render 'shared/error_messages', object: @message %>

		<div class="row">

			<div class="span3">

				<%= f.label :name %>
				<%= f.text_field :name, class:"span3" %>

				<%= f.label :email %>
				<%= f.text_field :email, class:"span3" %>

				<%= f.label :subject %>
				<%= f.text_field :subject, class:"span3" %>
			</div>
			<div class="span5">
				<%= f.label :body, "Message" %>
				<%= f.text_area :body, class:"span5 input-xlarge", rows: 7 %>
			</div>

		</div>
		<%= f.submit "Send Message", class:"btn btn-primary ctr" %>

	<% end %>

</section>
