<li><%= link_to "Home", root_path %></li>

<li class="dropdown">
	<%= dropdown_link "About" %>

	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
 		<li><%= link_to "Our Mission", "#" %></li>
		<li><%= link_to "About Us", "#" %></li>
		<li><%= link_to "FAQ", "#" %></li>
	</ul>
</li>

<li class="dropdown">
	<%= dropdown_link "Products" %>

	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
 		<li><%= link_to "Downloads", "#" %></li>
		<li><%= link_to "Kits", "#" %></li>
	</ul>
</li>

<li><%= link_to "Contact", contact_path %></li>

<% if signed_in? %>

	<li class="dropdown">
		<%= dropdown_link current_user.username %>

		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
 			<li><%= link_to "Profile", user_path( current_user ) %></li>
			<li><%= link_to "Edit Profile", edit_user_path( current_user ) %></li>
			<li class="divider"></li>
			<li><%= link_to "Sign Out", signout_path, method: "delete", id: "signout"  %></li>
		</ul>
	</li>

<% else %>
	<li class="dropdown">
		<%= dropdown_link "Sign In" %>
		<div class="dropdown-menu" >
			<%= render 'layouts/login' %>
		</div>
	</li>
<% end %>
